<div class="navbar-main">

    <div class="navbar-title">
        <div class="" >
            SHARESCANNER
        </div>
    </div>

    <div class="navbar-content">
        <nav class="">
            <NavLink href="/" Match="NavLinkMatch.All">
                <div class="nav-item-top">
                    Dashboard
                </div>
            </NavLink>

            <NavLink  href="Discover" Match="NavLinkMatch.All">
                <div class="nav-item">
                    Discover
                </div>
            </NavLink>

            <NavLink class="" href="weather">
                <div class="nav-item-bottom">
                    Favourites
                </div>
            </NavLink>
        </nav>
    </div>

</div>
