<div class="navbar-main text-white">

    <div class="navbar-title">
        <div class="">
            <a class="" href="/">SHARESCANNER</a>
        </div>
    </div>

    <div class="navbar-content" onclick="document.querySelector('').click()">
        <nav class="">
            <div class="nav-item-top">
                <NavLink class="" href="" Match="NavLinkMatch.All">
                    <span class="" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="" href="counter">
                    <span class="" aria-hidden="true"></span> Discover
                </NavLink>
            </div>

            <div class="nav-item-bottom">
                <NavLink class="" href="weather">
                    <span class="" aria-hidden="true"></span> Favourites
                </NavLink>
            </div>
        </nav>
    </div>

</div>