<div class="navbar-main">

    <div class="navbar-title">
        <div class="" >
            SHARESCANNER
        </div>
    </div>

    <div class="navbar-content">
        <nav class="">
            <NavLink href="/" Match="NavLinkMatch.All">
                <div class="nav-item-top">
                    <img src="icons/dashboardicon.svg" alt="Dashboard Icon" class="dash-icon" />
                    <div class="dash"> 
                        Dashboard 
                    </div>
                </div>
            </NavLink>

            <NavLink  href="Discover" Match="NavLinkMatch.All">
                <div class="nav-item">
                    <img src="icons/discovericon.svg" alt="Discover Icon" class="disc-icon" />
                    <div class="disc">
                        Discover
                    </div>
                </div>
            </NavLink>

            <NavLink class="" href="weather">
                <div class="nav-item-bottom">
                    <img src="icons/favouritesicon.svg" alt="Favourite Icon" class="fav-icon" />
                    <div class="fav">
                    Favourites
                    </div>
                </div>
            </NavLink>
        </nav>
    </div>

</div>
