.navbar-main {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: #302359;
    border-radius: 0.5rem;
    box-shadow: 0 25px 50px -8px rgb(0 0 0 / 0.25);
    margin: 15px;
    /* height: 100%; currently doesnt fit page without scrolling */
}

.navbar-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.75rem;
}

.navbar-content {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-item-top {

}

.nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item-bottom {

}
