<div class="p-4 navbar-main text-black width-1/5 no-underline">

    <div class="">
        <div class="">
            <a class="" href="/">SHARESCANNER</a>
        </div>
    </div>

    <div class="" onclick="document.querySelector('').click()">
        <nav class="">
            <div class="">
                <NavLink class="" href="" Match="NavLinkMatch.All">
                    <span class="" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>

            <div class="">
                <NavLink class="" href="counter">
                    <span class="" aria-hidden="true"></span> Discover
                </NavLink>
            </div>

            <div class="">
                <NavLink class="" href="weather">
                    <span class="" aria-hidden="true"></span> Favourites
                </NavLink>
            </div>
        </nav>
    </div>

</div>