.dashfirst {
    border-radius: 3rem;
    height: 350px;
    background-color: #302359;

}

.dashfirst-tabs {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 40px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.dashfirst-stocks {
    padding-right: 75px;
}

.dashfirst-indexes {
    padding-right: 75px;
}
.dashfirst-currencies {

}